
/*-----------------------------------------------------------------------全域---*/

html{overflow-x:hidden}
body{font:300 12pt 'Microsoft JhengHei',Arial,微軟正黑體!important;line-height:1.7em!important;
background:url(../images/bg.jpg);overflow-x:hidden}
a{font:300 12pt 'Microsoft JhengHei',Arial,微軟正黑體!important;-webkit-transition:all ease .3s;
-moz-transition:all ease .3s;line-height:1.7em!important;color:#000;
outline: medium none;/* for Firefox Google Chrome  */
behavior:expression(this.onFocus=this.blur()); /* for IE */}
a:hover{text-decoration:none}

.container-fluid{padding-left:0;padding-right:0}
.container{width:100%;max-width:1250px;margin:0 auto}

@media(max-width: 767px) {
	body,a{font-size:11pt!important}
}

/*-----------------------------------------------------------------------頁首---*/

body > header{background:#FDB813;height:332px}
body > header h1{width:35%;text-align:center}
body > header h1 a{display:inline-block;width:225px;height:184px;
background:url(../images/logo.png) center 0 no-repeat;font-size:0px;text-indent:-7777px}
body > header nav{width:65%;padding:105px 0 0 0}
body > header nav ul li{float:left}
body > header nav ul{overflow:hidden}

/*桌面版導航*/
#nav-up {min-width:125px;float:right;margin:0 0 25px 0}
#nav-up li{margin:0 0 0 5px;color:#333331}
#nav-up a{color:#333331;font-size:.9em!important}
#nav-up a:hover{text-decoration:underline}
#nav-up img{margin:0 0 0 5px}

#nav-down {width:720px;float:right}
#nav-down li > span{position:relative;top:0px}
#nav-down li{padding:39px 0 0 0;background-position:center 100px;background-repeat:no-repeat;
-webkit-transition:all ease .3s;-moz-transition:all ease .3s}
#nav-down li:hover{background-position:center 0}
#nav-down li:hover a{color:#780606;}
#nav-down a{display:block;padding:0px 12px 0 11px;background:#FDB813;}

#nav-down .cart{position:relative;top:-20px}
#nav-down .count{position:absolute;top:-10px;right:-45px;background:url(../images/count.png) 0 0 no-repeat;
width:68px;height:28px;font-size:.8em;text-align:center;line-height:1em;padding:6px 0 0 0}

#nav-1{background-image:url(../images/nav-1.png)}
#nav-2{background-image:url(../images/nav-2.png)}
#nav-3{background-image:url(../images/nav-3.png)}
#nav-4{background-image:url(../images/nav-4.png)}
#nav-5{background-image:url(../images/nav-5.png)}
#nav-6{background-image:url(../images/nav-6.png)}

/*手機版導航*/
#nav-top{height:47px;border-bottom:1px solid #E8B203;background:#FDB813;box-shadow:0 1px 0 #FACE47;
padding:10px 10px 0 10px}
#nav-top .cart{position:relative;top:0px;right:70px;}
#nav-top .count{position:absolute;top:0;right:-69px;background:url(../images/count.png) 0 0 no-repeat;
width:68px;height:28px;font-size:.8em;text-align:center;line-height:1em;padding:6px 0 0 0}

#nav-side{width:100%;padding:0 0 0 155px;top:45px;left:0px;border-radius:0 0 5px 5px;
background:url(../images/side.png) 5% center no-repeat #252932}
#nav-side li{width:33%}
#nav-side a{color:#9DA1AA;border-top:1px solid #1C2029;border-bottom:1px solid #2F333C;
padding:12px 0;text-align:center;font-size:.8em!important}
#nav-side a:hover{background:#1C2127}
#nav-side .space:hover{background:none}

#banner{height:88px;}
#banner .container{height:100%;padding-top:40px;font-size:2.2em;font-weight:300;color:#fff;}

@media(max-width: 1024px) {
	body > header{height:396px;padding-top:50px}
	body > header h1{float:none;width:100%}
	body > header h1 a{width:169px;height:138px;background:url(../images/logo-m.png) center 0 no-repeat}
	body > header nav{float:none;width:100%;padding:0}
	#nav-down {width:720px;float:none;margin:0 auto}
	#nav-up{position:absolute;top:10px;right:18px}
	#banner{height:88px}
}
@media(max-width: 767px) {
	body > header{height:99px}
	body > header .container{padding:0px}		
	#banner{height:50px}
	#banner .container{font-size:1.4em;padding-top:16px;}
}
@media(max-width: 544px){	
	#nav-side li{width:50%}
}

/*-----------------------------------------------------------------------頁身---*/

body > article{/*background:url(../images/line.jpg) 0 0 repeat-x;*/padding:60px 0}

/*-----------------------------------------------------------------------頁尾---*/

body > footer{background:/*url(../images/line.jpg) 0 0 repeat-x*/ #FDB813;padding:55px 0 20px 0;font-size:.9em}
body > footer p{padding-top:132px;color:#2d2929}
body > footer a{color:#2d2929}
body > footer a:hover{text-decoration:underline;color:#2d2929}
body > footer h3{background:url(../images/logo.png) right 0 no-repeat;height:184px;font-size:0px;text-indent:-7777px}
#copyright{background:#000;color:#a6a6a6;font-size:.8em;padding:10px 0}
#copyright a{color:#a6a6a6;font-size:1em!important}
#copyright a:hover{text-decoration:underline;}
@media(max-width: 1024px) {
	body > footer h3{background:url(../images/logo.png) left 0 no-repeat}
}
@media(max-width: 767px) {
	body > footer p{padding-top:0;text-align:center}
	body > footer h3{background:url(../images/logo-m.png) center 0 no-repeat;position:relative;left:30px;height:154px}
	#copyright{text-align:center}
	body > footer .icon{display:inline!important}
}